.step_three_container {
    margin-bottom: 24px;
}

.step_attendee_container {
    display: flex;
    gap: 24px;
}

.step_attendee_card_header_container {
    display: flex;
    align-items: center;
}

.step_attendee_icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}