.sub_header_container {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'inter';
}

.sub_header_heading {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29.05px;
}

.sub_header_para {
    font-size: 16px;
}
